<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> List Of Courses</title>
</head>
<body>
<h1>List Of Courses</h1>

<table border="1" cellpadding="5pt">
    <tr>
        <th> TItle</th>
        <th> Duration</th>
        <th> COurse Fee</th>
        <th></th>
    </tr>

    {% for course in courses %}

    <tr>
        <td> {{ course.name }}</td>
        <td> {{ course.duration }}</td>
        <td> {{ course.price }}</td>
        <td></td>
    </tr>

    {% endfor %}

</table>


</body>
</html>