body { font-family :verdana}
.banner { background-color:blue;color:white; font-size:20pt; font-weight : bold;}
.menu { background-color:#dddddd; font-size:11pt; font-weight: bold;}
h1 {color :red; font-family: arial;font-size:16pt; font-weight:bold}

